@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .full-announcement h1 {
    @apply text-2xl;
  }
  .full-announcement h2 {
    @apply text-xl;
  }
  .full-announcement ul {
    @apply list-disc;
    @apply ml-4;
  }
  .full-announcement ul li {
    @apply ml-4;
  }
  .full-announcement ol {
    @apply list-decimal;
    @apply ml-4;
  }
  .full-announcement ol li {
    @apply ml-4;
  }

  .full-announcement a {
    @apply text-blue-500;
    @apply underline;
  }
  .full-announcement a:hover {
    @apply text-blue-700;
  }
}

:root {
  --theme-yellow-dark: #ff8e00;
  --theme-yellow-light: rgb(253, 152, 25);
  --theme-dark: #2e2c2d;
  --banner-btn: #17115c;
  --theme-gray: #d9d9d9;
  --theme-gray-light: #f5f5f5;
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

//vars for the apps theme color
$theme-color-dark: #d18800;
$theme-color: #ffa812;
$theme-color-light: #faba4c;
$theme-gray: #d9d9d9;
$accent-color-1-light: #18bed4;
$button-background-color: #19bed5;
$button-background-color-hover: rgba(25, 190, 213, 0.82);

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
@import "./loading-spinner.scss";
@import "./modal";
@import "./query_table/table_renderer";
